<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>diploma.services.mail.MailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 	<servlet>
		<servlet-name>AttachmentMailServlet</servlet-name>
		<servlet-class>diploma.services.mail.test.AttachmentMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentMailServlet</servlet-name>
		<url-pattern>/test/</url-pattern>
	</servlet-mapping>
	
	  <servlet>
		<servlet-name>ConnectivityTest</servlet-name>
		<servlet-class>diploma.services.mail.test.ConnectivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectivityTest</servlet-name>
		<url-pattern>/test2/</url-pattern>
	</servlet-mapping> -->
	
	<resource-ref>
		<res-ref-name>connectivityConfiguration</res-ref-name>
		<res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
	</resource-ref>

	<resource-ref>
		<res-ref-name>mail/MAIL_DIPLOMA_GMAIL</res-ref-name>
		<res-type>javax.mail.Session</res-type>
	</resource-ref>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MailSender</role-name>
		</auth-constraint>
	</security-constraint> 
</web-app>